

.container-cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.cart {
  width: 380px;
  margin: 20px;
  /* background-color: beige; */
  background: url(https://media.istockphoto.com/id/1212911887/photo/futuristic-digital-block-chain-background.jpg?s=1024x1024&w=is&k=20&c=Pu_7-kKU2bckXGeEU21ZG84Y_WpaKmh4vzBEA0HwE4E=);
  text-align: center;
  justify-content: center;
  color: #fff;
  border-radius: 3rem;
}
 

.container-cart img {
  width: 350px;
  height: auto;
  padding: 15px;
  border-radius: 3rem;
}
.container-cart h3 {
  font-size: 20px;
  line-height: 30px;
}
.btn-cart{
  margin: 20px;
  font-size: 20px;
  padding: 8px 16px;
  color: #2f2d2d;
  background-color: rgb(171, 152, 125);
 
  border-style: hidden;
  border-radius: 0 50%;
}
.btn-cart:hover{
  border-radius: 50% 0;
}


/* details css */



.container-cart-details{
  display: flex;
 align-items: center;
  justify-content:center;
  
}

.cart-details {
  display: flex;
  width: 1100px;
  margin: 20px;
  background-color: beige;
  text-align: center;
  justify-content: center;
  border-radius: 3rem;
}
 

.container-cart-details img {
  width: 670px;
  height: auto;
  padding: 15px;
  border-radius: 3rem;
}
.container-cart-details h3 {
  font-size: 20px;
  line-height: 30px;
}
.card-box {
  margin-top: 60px;
}

.free{
 color: red;
 font-size: 20px;
}








.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-box {
  margin: 20px 0;
}

#password {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options {
  margin: 20px 0;
}

.options label {
  display: block;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.px{
  padding-top: 20px;
}

