

.container-cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.cart {
  width: 380px;
  margin: 20px;
  background-color: beige;
  text-align: center;
  justify-content: center;
  border-radius: 3rem;
}
 

.container-cart img {
  width: 350px;
  height: auto;
  padding: 15px;
  border-radius: 3rem;
}
.container-cart h3 {
  font-size: 20px;
  line-height: 30px;
}
.btn-cart{
  margin: 20px;
  font-size: 20px;
  padding: 8px 16px;
  color: #2f2d2d;
  background-color: rgb(171, 152, 125);
  border-style: hidden;
  border-radius: 0 50%;
}
.btn-cart:hover{
  border-radius: 50% 0;
}


/* details css */



.container-cart-details{
  display: flex;
 align-items: center;
  justify-content:center;
  
}

.cart-details {
  width: 500px;
  margin: 20px;
  background-color: beige;
  text-align: center;
  justify-content: center;
  border-radius: 3rem;
}
 

.container-cart-details img {
  width: 470px;
  height: auto;
  padding: 15px;
  border-radius: 3rem;
}
.container-cart-details h3 {
  font-size: 20px;
  line-height: 30px;
}
